$orangeLight: #f2ad44;

button[is="search-button"] {
  width: 70px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  background: $orangeLight;
  transition: background .5s linear;
}

button[is="search-button"]:hover {
  background: rgb(235, 182, 69);
}
