filter-category {
  width: 100%;
  margin: 5px 0;
}

.category-content {
  margin-top: 5px;
  display: grid;
  gap: 5px 3px;
  width: 85%;
  margin: 0 auto;
}

.category-header {
  margin-bottom: 5px;
}

.category-item {
  cursor: pointer;
  transition: transform .3s linear;
  position: relative;
}

.category-item::after {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  transform: rotate(45deg);
  width: 8px;
  opacity: 0;
  transition: all 0.3s ease 0s;
  border-style: solid;
  border-image: initial;
  border-color: rgb(221, 255, 0);
}

.category-item.active:not(.color) {
  filter: grayscale(25%);
}

.category-item.active::after {
  opacity: 1;
}

.color::after {
  border-width: 0px 3px 3px 0px;
  left: 4px;
}

.yellow::after, .pink::after, .white::after {
  border-color: rgb(44, 44, 42)
}

.brand::after {
  border-width: 0px 5px 5px 0px;
  left: 60px;
  top: 16px;
}

.company::after {
  border-width: 0px 5px 5px 0px;
  left: 60px;
  top: 16px;
}

.color:hover, .brand:hover, .company:hover {
  transform: scale(1.1);
}

.colors {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
}

.red {
  background: red;
}

.grey {
  background: grey;
}

.white {
  background: white;
}

.black {
  background: black;
}

.purple {
  background: purple;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.pink {
  background: pink;
}

.orange {
  background: orange;
}

.green {
  background: green;
}

.brands {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.brand {
  width: 75px;
  height: 35px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.marvel {
  background-image: url(./images/Brand/Marvel_Logo.svg.png);
}

.tmnt {
  background-image: url(./images/Brand/tmnt.png);
}

.transformers {
  background-image: url('./images/Brand/transformers_logo.gif');
}

.pokemon {
  background-image: url('./images/Brand/Pokemon.svg');
}

.companies {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
}

.company {
  max-width: 80px;
  height: 50px;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}

.bandai {
  background-image: url('./images/Company/bandai.png');
}

.funko {
  background-image: url('./images/Company/funko.png');
}

.hasbro {
  background-image: url('./images/Company/hasbro.png');
}

.medicom {
  background-image: url('./images/Company/medicom.png');
}
