filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-height: 100vh;
  margin-top: 90px;
  padding: 20px 0;
  background: #383232;
  color: #fff;
}

filter-container button {
  width: 110px;
  height: 30px;
  margin-top: 15px;
  border-radius: 15px;
  font-weight: bold;
}

filter-container h3 {
  text-align: center;
}

.filter-header {
  margin: 5px 0;
  text-decoration: underline;
}
